<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %> Me</h1>
    <div style="display: flex; align-items: center;">
      <img src="/img/Mayvis.png" alt="Mayvis" style="max-width: 380px; height: 392px; margin-right: 30px;">
      <div style="background-color: #ffffff; padding: 20px; border-radius: 10px;">
        <h2>Mayvis Marylin Ouaziri</h2>
        <hr>
        <p style="font-style: italic;">
          I am a passionate and dedicated health informatics technology enthusiast, on a mission to leverage data-driven solutions to transform healthcare delivery.
          With a background in health informatics, I am committed to bridging the gap between healthcare and technology to improve the overall healthcare experience.
          I believe that by harnessing the potential of data and technology, we can create a healthier and more connected world.
        </p>
        <a href="public\Resume.pdf">View My Resume</a> 
      </div>
    </div>
  </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>



