<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %> Skills</h1>
  </div>
</main>

<div class="container services-container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <ul class="card-text">
            <li>Proficient in web development technologies and frameworks.</li>
            <li>Skilled in creating user-friendly websites.</li>
          </ul>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Interface Design</h5>
          <ul class="card-text">
            <li>Skilled in designing intuitive and visually appealing user interfaces.</li>
          </ul>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Database Concepts</h5>
          <ul class="card-text">
            <li>Understanding of database concepts and management.</li>
            <li>Proficient in secure and efficient data storage.</li>
          </ul>
          <br>
        </div>
      </div>
    </div>
    <!-- Add more services here -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Data Analysis</h5>
          <ul class="card-text">
            <li>Proficient in data analysis techniques.</li>
            <li>Experienced in deriving insights and making data-driven decisions.</li>
          </ul>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Project Management</h5>
          <ul class="card-text">
            <li>Experienced in managing projects from inception to completion.</li>
            <li>Ensuring timely delivery and quality results.</li>
          </ul>
          <br>
        </div>
      </div>
    </div>
    <!-- Add more services here -->
  </div>
</div>

<!--bottom nav-->
<%- include ('partials/bottom_nav.ejs') %>
<!--script section-->
<%- include ('partials/footer.ejs') %>
